style.css
body {
    font-family: Arial, sans-serif;
    margin: 0;

    background: linear-gradient(to right, #006600, #fcd116);

    color: #222;
}

header {
    background: #006600;
    color: white;
    text-align: center;
    padding: 2em 1em;
}

nav {
    background: #333;
    text-align: center;
    padding: 0.7em;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2em;
}

footer {
    background: #eee;
    text-align: center;
    padding: 1em;
}
